/* just a tag */
a {
  color: #caf342;
  font-family: Georgia;
  font-size: 20px;
  padding: 5px 5px;
}

a:link {
  text-decoration: none;
  background: #ad333c;
}

a:visited {
  background:gray;
}

a:hover {
  background: blue;
  color: white;
}

a:active {
  background: green;
  color: black;
}