.padding {
  /*
  The CSS padding properties are used to generate space around an element's content, inside of any defined borders.

  With CSS, you have full control over the padding. There are properties for setting the padding for each side of an element (top, right, bottom, and left).

  All the padding properties can have the following values:

  length - specifies a padding in px, pt, cm, etc.
  % - specifies a padding in % of the width of the containing element
  inherit - specifies that the padding should be inherited from the parent element

  Note: Negative values are not allowed.
  */
  width: 300px;
  height: 300px;
  background: blue;

  /* --------------------------------------------------- */
  /* padding (clock wise) */
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 200px;
  padding-bottom: 400px;

  /* padding auto */
  padding: 10px 20px 30px 40px;
}
